body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.0em;
	line-height: 1.6;
    text-shadow: $text-shadow;
	-webkit-font-smoothing: antialiased;
    background-image: $bg-image;
}
div
{
  background: white;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;    
	color: $main;
}
h1 {
	font-size: 2.5em;
    display: block;
    position: relative;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
    margin: 0;
    padding: 0em .125em 0em .125em;
}
h2 {
	font-size: 2em;    
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: $light-accent-color;
}
h3 {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-color: $light-accent-color;
}
a,
a:visited {
	color: $main;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: lighten($main, 20);
	text-decoration: none;
}

ul
{
    list-style-type: none;
    
}
.li-text
{
    margin: auto;
    padding: auto;
    display: inline;
    color: $font-color;
}
article li:before {
    color: white;
    content:"•";
    font-size: 1.5em;
    display: inline;
    line-height: 0%;
    position: relative;
    top: .08em;
    margin-left: -1em;
    margin-right: .5em;
    text-shadow: 0px 0px 8px RGBA(0,0,0,.25), 0px 1px 1px RGBA(0,0,0,.5);
}

table {
    box-shadow: $inset-shadow;
    width: 100%;
    text-align: center;
    margin: .5em auto 1.75em auto;
    border-collapse: collapse;
    font-size: .9em;
}

tbody
{
    padding: 1em .5em 1em .5em;
}

th, td {
    text-align: left;
    border: 1px solid #EEEEEE;
    //border-bottom: 1px solid #EEEEEE;
    padding: .25em .5em .25em .5em;
}
tr:nth-child(even) {
    background-color: #F8F8F8;
}

header {
	background: $header-bg;
    color: $header-color;
    box-shadow: $shadow;    
	max-width: $content-width;
	padding: .0125em;
	text-align: center;
	margin: 90px auto -1em auto;
	min-height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
  background: white;
	padding: 0em 1em 1em 1em; 
    box-shadow: $shadow;
	max-width: $content-width;
	margin: 6.5em auto 1.5em auto;
}
time {
	color: #898989;
}
div.language-cpp,
div.language-glsl{
    padding: .25em 1em .25em 1em;
    overflow: auto;
    box-shadow: $inset-shadow;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Top navigation bar. */
aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	box-shadow: $shadow;
    
    /* Top navigation menu.*/
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
        
        /* Top navigation menu item list. */
		ul {
      color: $main;
			margin: 0;
			padding: 0;
			list-style: none;
            
            /* Top navigation menu item. */
			li {
        color: $main;
				float: left;
				position: relative;
				a {
          color: $main;
					text-decoration: none;
					padding: 0em 1em 0em 1em;
					display: inline;
					font-family: $font-style;
					line-height: 20px;
					margin-bottom: -1px;
					&:hover,
					&:active {
						text-decoration: none;
						color: lighten($main, 20);
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

.floating-header
{
    box-shadow: $shadow;
    background: white;
    position: relative;
    top: -.5em;
    left: .125em;
    padding: .25em .5em .25em .5em;
    display: inline;
}

.return-button-bottom
{
    box-shadow: $shadow;
    background: white;
    position: relative;
    top: 1.5em;
    left: .125em;
    padding: .25em .5em .25em .5em;
    display: inline;
}
.return-button-top
{
    box-shadow: $shadow;
    background: white;
    position: relative;
    top: -1.125em;
    padding: .25em .5em .25em .5em;
    display: inline;
    float: right;
}

#header-text:hover
{
    color: lighten($main, 10);
}

.inline-image
{
    display: block;
    text-align: center;
    margin: 1em auto .25em auto;
    padding: 1em;
    max-width: 100%;
    box-shadow: $inset-shadow;
}

.image-text
{
    font-size:$small-font-size*.8;
    text-align: center;
    box-shadow: $inset-shadow;
    max-width: $content-width *.5;
    display: block;
    max-width: 90%;
    margin: .25em auto .0em auto;
    padding: .5em .125em .5em .125em;
}

#footer-text
{
    text-align: center;
    margin: auto;
    padding: .5em 0em .5em 0em;
    max-width: $content-width *.33;
    box-shadow: $shadow;
}

footer {
    font-size: .66em;
	text-align: center;
	padding: 40px;
}

@media only screen and (max-width: 479px) {
   .return-button-top{ display: none; }
   
   h1,h2,h3{text-align:center;}
   .nav-li{float:none; display:inline;}
   .nav-ul{text-align:center;}
}